@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #efefef;
    text-align: center;
  }
  
  .avatar {
	border-radius: 50%;
	width: 50;
	height: 50;
  }
  
.title > * {
	display: inline;
}  

.links {
	padding-bottom: 10px;
}
  
 .links > *{
	display: inline;
  }
